@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');



@import url(normalize.css); 
@import url(font-awesome.min.css);



* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     background: #fff;
     color: #090909;
     font-size: 14px;
     font-family: 'Raleway', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

.container {
     max-width: 1172px;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #090909;
     margin: 0
}

h1 {
     font-size: 24px;
     font-family: 'Raleway', sans-serif;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #fff;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}

/*--------------------------------------------------------------------- Header ---------------------------------------------------------------------*/

.header {
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 999;
}

.header_bo {
     background-color: #032154;
     width: 100%;
     height: 110px;
}


/*-- navigation--*/

.navigation.navbar {
     float: left;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 25px 22px; 
     font-weight: 600;
     height: 100%;
     margin: 0 8px;
     color: #ffffff;
     font-size: 17px;
     line-height: 20px;
     text-transform: uppercase;
}
.navigation.navbar-dark .navbar-nav {
     height: 100%;
 }

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #ffffff;
     background-color: #f2db18;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #ffffff;
     background-color: #f2db18;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

/* --- LOGO Y CENTRADO VERTICAL (Solución Anterior) --- */

.header_bo .row > div {
     display: flex;
     align-items: center; 
     height: 100%; 
 }
 
 ul.logo {
     display: flex; 
     align-items: center; 
     height: 100%; 
     width: 100%; 
     padding: 0; 
     margin: 0;
     justify-content: flex-end; 
 }
 
 ul.logo img {
     max-height: 100px; 
     width: auto;
 }
 
 .col-md-9.col-sm-7 {
     display: flex;
     align-items: center;
     height: 100%;
 }

/* --- ESTILOS PARA MENÚ DESPLEGABLE MULTINIVEL --- */

.dropdown-menu {
     display: none;
     border: none;
     background-color: #032154; 
     padding: 0;
     margin: 0;
     position: absolute;
     z-index: 1000;
 }
 
 .nav-item.dropdown:hover > .dropdown-menu {
     display: block;
     margin-top: 0; 
 }
 
 .dropdown-menu .dropdown-item {
     color: #ffffff; 
     padding: 10px 20px;
     font-size: 16px;
     text-transform: none; 
     white-space: nowrap; 
 }
 
 .dropdown-menu .dropdown-item:hover {
     background-color: #f2db18; 
     color: #032154; 
 }
 
 .dropdown-submenu {
     position: relative;
 }
 
 .dropdown-submenu > .dropdown-menu {
     top: 0;
     left: 100%; 
     margin-top: -1px; 
     margin-left: 0rem; 
 }
 
 .dropdown-submenu:hover > .dropdown-menu {
     display: block;
 }
 
 .dropdown-submenu .dropdown-toggle::after {
     border-top: 0.3em solid transparent;
     border-left: 0.3em solid; 
     border-bottom: 0.3em solid transparent;
     border-right: 0;
     vertical-align: middle;
     margin-left: 0.5em;
 }


/*--------------------------------------------------------------------- Index.html SECTIONS ---------------------------------------------------------------------*/

/** banner section **/

.banner_main {
     padding: 110px 0 0px 0; 
     background: url(../images/banner.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

.text-bg {
     text-align: left;
     padding-top: 120px;
}

.text-bg h1 {
     color: #fff;
     font-size: 60px;
     line-height: 70px;
     font-weight: bold;
}

.text-bg span {
     line-height: 28px;
     padding-bottom: 20px;
     display: block;
     color: #f2db18;
     font-size: 30px;
     font-weight: 600;
}

.text-bg p {
     line-height: 28px;
     padding-bottom: 70px;
     display: block;
     color: #fff;
     font-size: 17px;
}

.text-bg a {
     font-size: 25px;
     color: #fff;
     font-weight: 600;
     text-align: left;
     display: inline-block;
     transition: ease-in all 0.5s;
     position: relative;
     line-height: 1px;
}

.text-bg a::before {
     position: absolute;
     content: "";
     top: 3px;
     border-right: #ffff00 solid 1px;
     border-width: 90px;
     height: 1px;
     right: -111px;
}

.text-bg a:hover {
     color: #fff;
     transition: ease-in all 0.5s;
}

.ban_img figure {
     margin: 0;
}


/** end banner section **/

.titlepage {
     text-align: left;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 36px;
     color: #154492;
     line-height: 45px;
     font-weight: bold;
     padding: 0;
     display: block;
     text-transform: uppercase;
}

.yellow {
     color: #f2db18;
     font-size: 17px;
     font-weight: bold;
     text-transform: uppercase;
     line-height: 28px;
}

.titlepage p {
     font-size: 20px;
     color: #090a0b;
     padding-top: 30px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 25px;
     color: #fff !important;
     text-align: left;
     display: inline-block;
     border-radius: 10px;
     font-weight: 500;
     position: relative;
     padding: 0;
     line-height: 1px;
     max-width: 140px;
     width: 100%;
}

.read_more::before {
     position: absolute;
     content: "";
     top: 1px;
     border-right: #ddd solid 1px;
     border-right-width: 1px;
     border-width: 90px;
     height: 1px;
     right: -111px;
}


/** about section **/

.about {
     padding-top: 90px;
     background-color: #fff;
}

.about .titlepage {
     text-align: left;
     padding-bottom: 25px;
}

.about_img {
     padding-right: 20px;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 100%;
}

.about_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.about_box h3 {
     color: #0b0b0b;
     font-size: 25px;
     font-weight: bold;
     padding: 0;
     line-height: 30px;
     text-transform: uppercase;
}

.about_box span {
     font-size: 17px;
     font-weight: 600;
     color: #f2db18;
     line-height: 30px;
     padding-top: 25px;
     text-transform: uppercase;
     display: block;
}

.try {
     float: left;
}

.about_box p {
     font-size: 17px;
     padding-top: 25px;
     line-height: 30px;
     text-align: left;
     color: #0d0d0d;
     display: inline-block;
     padding-bottom: 30px;
}

.about .read_morea {
     margin-top: 7px;
     padding: 8px 0;
     margin-left: 40px;
     background-color: #f2db18;
     max-width: 168px;
     width: 100%;
     display: inline-block;
     text-align: center;
     font-size: 18px;
     color: #fff;
     font-weight: 600;
}

.about .read_morea i {
     padding-left: 5px;
}

.about .read_morea:hover {
     background-color: #000;
}


/** end about section **/


/** service section **/

.service {
     background-color: #fff;
     padding-top: 80px;
}

.service .service_box {
     margin-bottom: 30px;
}

.service .service_box h3 {
     margin-top: 20px;
     color: #323639;
     font-size: 17px;
     font-weight: 700;
     line-height: 20px;
     text-transform: uppercase;
     border-bottom: #020001 solid 3px;
     display: inline-block;
     padding-bottom: 6px;
     transition: ease-in all 0.5s;
}

.service .service_box p {
     color: #323639;
     font-size: 17px;
     padding-top: 15px !important;
     padding: 0;
     line-height: 25px;
}

#ho_color:hover.service_box h3 {
     transition: ease-in all 0.5s;
     color: #f2db18;
     border-bottom: #f2db18 solid 3px;
}

.service .read_more {
     color: #f2db18 !important;
     margin: 0 auto;
     max-width: 140px;
     width: 100%;
     display: block;
     display: table;
     margin-top: 40px;
}

.service .read_more::before {
     border-right: #f2db18 solid 1px;
     border-right-width: 1px;
     border-width: 90px;
}


/** end service section **/


/*--------------------------------------------------------------------- Footer ---------------------------------------------------------------------*/

.footer {
     padding-top: 90px;
     background: url(../images/footer_bg.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     text-align: center;
     margin-top: 90px;
}

.logo2 {
     float: left;
}

.footer h3 {
     color: #fff;
     font-weight: 600;
     font-size: 20px;
     line-height: 30px;
     text-align: left;
     margin-bottom: 19px;
     margin-top: 20px;
}

ul.location_icon {
     padding-top: 12px;
}

ul.location_icon li {
     font-size: 18px;
     line-height: 30px;
     color: #fff;
     text-align: left;
     padding-bottom: 26px;
     float: left;
     padding-right: 13px;
}

ul.location_icon li a i {
     display: block;
}

ul.location_icon li a {
     font-size: 25px;
     color: #fff;
     line-height: 35px;
}

ul.location_icon li a:hover {
     color: #eed818;
}

ul.social_icon {
     float: left;
}

ul.social_icon li {
     float: left;
     height: 60px;
     padding-right: 13px;
}

ul.social_icon li:last-child {
     padding-right: 0px;
}

ul.social_icon li a {
     color: #0b2554;
     width: 40px;
     height: 40px;
     background: #fff;
     float: left;
     text-align: center;
     line-height: 40px;
     border-radius: 100%;
     font-size: 22px;
}

ul.social_icon li a:hover {
     background: #eed818;
     color: #fff;
}

ul.link_icon li {
     display: flex;
     margin-bottom: 12px;
     flex-wrap: wrap;
}

ul.link_icon li.active a {
     color: #acaba9;
}

ul.link_icon li a {
     color: #fff;
     float: left;
     text-align: left;
     line-height: 20px;
     font-size: 17px;
}

ul.link_icon li a:hover {
     color: #acaba9;
}

.copyright {
     background-color: #fff;
     margin-top: 70px;
     padding: 20px 0px;
}

.copyright p {
     color: #082557;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #082557;
}

.copyright a:hover {
     color: #fff;
}


/* --- CORRECCIÓN 1: COMPENSACIÓN PARA HEADER FIJO EN PÁGINAS DE CONTENIDO --- */
.content-page-wrapper {
    /* Altura del header (~110px) + margen de seguridad (20px) = 130px */
    padding-top: 130px; 
    padding-bottom: 50px;
    height: auto;
}

/* --- ESTILOS CORREGIDOS PARA TARJETAS DE DESARROLLADORES (CONTACTO) --- */

.team_section {
     padding-top: 50px;
     padding-bottom: 120px; 
 }
 
 .developer_card {
     text-align: center;
     background: #ffffff;
     border: 1px solid #eeeeee; 
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
     padding: 35px 25px;
     border-radius: 12px; 
     
     /* CORRECCIÓN 2: Margen generoso de 80px para evitar que se sientan pegadas y solapamiento */
     margin-bottom: 80px; 
     
     height: 100%; 
     transition: transform 0.3s ease, box-shadow 0.3s ease; 
     
     /* CORRECCIÓN 3: NECESARIO para que z-index funcione correctamente en el hover */
     position: relative; 
 }
 
 /* Efecto Hover: la tarjeta "flota" ligeramente */
 .developer_card:hover {
     transform: translateY(-10px); 
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25); 
     /* z-index se asegura que la tarjeta activa esté por encima */
     z-index: 10; 
 }
 
 .developer_card figure {
     margin: 0 auto 20px auto;
     width: 140px; 
     height: 140px;
     overflow: hidden;
     border-radius: 50%;
     border: 5px solid #f2db18; 
     box-shadow: 0 0 0 5px rgba(3, 33, 84, 0.1); 
 }
 
 .developer_card figure img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .developer_card h3 {
     font-size: 26px;
     color: #032154;
     font-weight: 900; 
     padding: 0;
     margin-bottom: 5px;
 }
 
 .developer_card span {
     display: block;
     color: #f2db18;
     font-size: 18px;
     font-weight: 600;
     margin-bottom: 15px;
     text-transform: uppercase;
     letter-spacing: 1px;
 }
 
 .developer_card p {
     font-size: 15px;
     color: #555;
     line-height: 1.6;
     min-height: 48px; 
 }
 
 /* Estilos de íconos de redes sociales para la tarjeta */
 .developer_card .social_icon {
     display: inline-block;
     padding: 0;
     margin-top: 25px;
 }
 
 .developer_card .social_icon li {
     float: left;
     padding: 0 8px; 
 }
 
 .developer_card .social_icon li a {
     width: 40px;
     height: 40px;
     line-height: 40px;
     background: #032154; 
     color: #fff;
     border-radius: 50%;
     transition: all 0.3s ease;
 }
 
 .developer_card .social_icon li a:hover {
     background: #f2db18; 
     color: #032154;
     transform: scale(1.1); 
 }
 @media (max-width: 750px) { 
    
    /* 1. Ajuste General del Header */
    .header_bo {
        height: auto; /* Permite que la altura se ajuste al contenido (Logo + Navbar) */
        min-height: 120px; 
        padding: 0;
    }

    /* 2. Mostrar y Centrar el Logo (col-md-3) */
    .col-md-3.col-sm-5 {
        display: block !important; /* Muestra el logo */
        width: 100%;
        text-align: center;
        height: auto;
        padding-top: 10px; 
        padding-bottom: 5px; 
        float: none !important; 
        order: 1; /* Asegura que el logo vaya primero */
    }
    
    ul.logo {
        justify-content: center; /* Centra el logo */
        height: auto;
    }

    /* 3. Ajuste de la Navegación (col-md-9) */
    .col-md-9.col-sm-7 {
        height: auto;
        display: flex; 
        align-items: center;
        width: 100%; 
        order: 2; /* Asegura que la navegación vaya después */
        padding: 0 15px; 
        margin: 0;
    }
    
    .navigation.navbar {
        float: none; 
        width: 100%;
        padding: 0; 
        justify-content: flex-start !important; 
    }

    /* 4. Corrección del Menú Desplegable (Aparece ABAJO) */
    .collapse.navbar-collapse {
        position: absolute; 
        top: 100%; /* CLAVE: Despliega justo debajo de la barra fija */
        left: 0;
        width: 100%;
        background-color: #032154; 
        padding: 10px 0;
        z-index: 998; 
        max-height: 85vh; 
        overflow-y: auto; 
    }
    
    /* 5. Submenús: Forzar el despliegue vertical */
    .dropdown-menu {
        position: static !important; /* Permite el apilamiento vertical en móvil */
        width: 100% !important;
        left: 0 !important;
        margin: 0;
        background-color: rgba(3, 33, 84, 0.9); 
    }
 
    /* 6. Solución al Contenido Tapado (CLAVE para el problema actual) */
    .content-page-wrapper {
        /* 180px compensa la altura combinada del logo, el botón y sus márgenes. */
        padding-top: 180px; 
    }
    
    /* Otros estilos */
    .developer_card {
        margin-bottom: 40px; 
    }
}
